{% extends 'News_Base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/Subpage/css/submanagement.css">
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="col-md-12" style="float: left; height: 80px"></div>
{% for website in websites %}
<div class="website-container col-md-6">
    {% if website.detail|length > 0 %}
    <div class="website-item website-url-active">{{website.detail}}</div>
    {% else %}
    <div class="website-item website-url-active">{{website.url}}</div>
    {% endif %}
    <div class="website-item website-del" del="0" id="{{website.id}}">×</div>
</div>
{% endfor %}
<div class="col-md-12" style="float: left; height: 80px"></div>
{% endblock %}




{% block custom_tool %}
<span class="custom-del">保存</span>
{% endblock %}

{% block script %}
<script src="/static/Subpage/js/common.js"></script>
<script src="/static/Subpage/js/sub_manager.js"></script>
{% endblock %}